@custom-media --xlg screen and (max-width: 1540px);
@custom-media --lg screen and (max-width: 1276px);
@custom-media --md screen and (max-width: 1000px);
@custom-media --sm screen and (max-width: 640px);
:root {

  --small-text-size: 15px;
  --paragraph-size: 18px;
  --primary-common-font-size: 20px;
  --border-color: rgba(39, 40, 44, 0.4);
  --dark-black-font: #27282c;
  --gray-font: rgba(39, 40, 44, 0.7);
  --easy-font-gray-color: rgba(255, 255, 255, 0.6);
  --accent-color: #f76707;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--wt-color-white-60);
}

header {
  height: 71px;
  position: relative;
  /* padding: 0 118px; */
}

.section-header {
  position: relative;
}

.section-header li+li {
  margin-left: 24px;
}

.section-header::after {
  top: 100%;
  left: 0;
  content: '';
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: var(--border-color);

}

.nav__link--link {
  color: var(--gray-font);
}

.logo {
  margin-right: auto;
  font-size: var(--primary-common-font-size);
  width: 79px;
  font-family: SFProText;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--dark-black-font);
}

.header__list--button {
  width: 134px;
  height: 32px;
  margin: 0 0 0 24px;
  padding: 4px 19px 4px 18px;
  border-radius: 25px;
  border: solid 1px var(--border-color);
  text-align: center;
}

.hero__title {
  width: 512px;
  height: 64px;
  margin: 96px 194px 24px 48px;
  font-family: Gotham;
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: -1.5px;
  color: var(--dark-black-font);
}

.hero__subtitle {
  width: 385px;
  height: 80px;
  margin: 24px 25px 48px 48px;
  font-family: Gotham;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--dark-black-font);
}

.hero__button {
  width: 174px;
  height: 48px;
  margin: 48px 42px 24px 48px;
  padding: 12px 19px 12px 27px;
  border-radius: 25px;
  background-color: var(--accent-color);
  border: transparent;

  /* width: 128px; */
  /* height: 24px; */
  font-family: SFProText;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.hero__subtext {
  width: 310px;
  height: 24px;
  margin: 24px 0 152px 52px;
  font-family: SFProText;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: rgba(39, 40, 44, 0.7);
}

.hero-img {
  width: 484px;

  /* margin-right: 130px ; */
  object-fit: cover;
}

.product__list {
  /* height: 336px; */
  /* margin: 8px 120px 36px 117px; */
  /* padding: 16px 10px 8px 1px; */
  background-color: rgba(255, 255, 255, 0.8);
  row-gap: 63px;
  column-gap: 48px;
}


.product__image {
  width: 64px;
  height: 64px;
  object-fit: contain;
  opacity: .5;
  cursor: pointer;
}
.product__image:hover{
  opacity: 1;
}


/* product-section */


.product-section {
  display: flex;
  height: 1581px;
}


.product--select__list {
  width: 495px;
}

.product-select__button {
  border: none;
  width: 83px;
  height: 24px;
  padding: 4px 8px 4px 7px;
  border-radius: 4px;
  background-color: rgba(39, 40, 44, 0.05);
  font-family: SFProText;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: rgba(39, 40, 44, 0.7);
}

.product--select__item {
  width: 50%;

}

.product--select__item:not(:last-child),
.product--select__item:not(:nth-child(9)) {
  margin-bottom: 34px;
}

.product-select--title {
  /* width: 93px; */
  /* height: 28px; */
  margin: 18px 1px 0 6px;
  font-family: SFProText;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--dark-black-font);
}

.soft-title {
  width: 484px;
  margin-bottom: 45px;
  font-family: SFProText;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: var(--gray-font);
}

.hard-title {
  margin-bottom: 24px;
  margin-top: 40px;
  font-family: Gotham;
  font-size: 31px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.5px;
  color: var(--dark-black-font);
}

.container {
  width: 50%;
}

/* .product__list--second{
  width: 400px;
} */
.product__list--second{
  width: 381px;
  row-gap: 63px;
  column-gap: 48px;
} 
.underline{
  display: block;

  position: relative;
  width: 100%;
}
.underline::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
}
.second-section{
  height: 975px;
  display: flex;

}
.second-section img{
  width: 430px;
    margin: 97px  0 0 0;
    object-fit: contain;
}
.set-div-width{
  width: 50%;
}
.benefit-title{
  margin-top: 14px;
  font-family: SFProText;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--dark-black-font);
}
.benefit-text{
  margin-top: 14px;
  font-family: SFProText;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: var(--gray-font);
}

.third-section__link{
  margin-top: 12px;
  font-family: SFProText;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: var(--accent-color);
}
.third-section__second-column{
  margin-top: 96px;
  margin-bottom: 54px;
}
.third-section__title{
  font-family: Gotham;
    font-size: 28px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #fff;
}
.third-section__text{
  margin-top: 24px;
  font-family: SFProText;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: var(--easy-font-gray-color);
}
.forth-section__text{
  width: 296px;
  font-family: Gotham;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--dark-black-font);
}
.forth-section__list{
  width: calc(100% - 296px);
  display: flex;
  flex-wrap: wrap;
  row-gap: 96px;
}
.forth-section__firs-div{
  
  padding-top: 96px;
}
.wraper {
  gap: 20px;
}
.wraper p{
  width: 458px;
    font-family: SFProText;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark-black-font);
}
